.appComponent{
    /* border: 1px solid rebeccapurple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 10%;
  }
.TimerComponent{
    border: 1px solid rgba(23, 26, 179, 0.274);
    text-align: center;
    margin: 15px 30%;
}
button{
    color: white;
    background-color:#0b5ed7;
    margin: 15px;
    padding: 10px 20px;
}
span{
    text-align: center;
}
.main{
    border: 1px solid rgba(63, 56, 70, 0.185);
    margin: 0 10%;
}
.After-Stop{
    color: #0f5132;
    background-color: #d1e7dd;    
    font-size: large;
    font-weight:500;
    padding: 5px 10px;
    margin: 5px;
}